* {
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}

body {
}
.wrapper {
	height:  3000px;
	width:  100%;
}
#topnav {
	width:  30%;
	background:  #0ee;
	float: left;
}

main {
	width: 70%;
	background:  #bbb;

}

footer {
	width:  100%;
	background:  #333;
	clear: both;
	height:  200px;
}