/* for smartphones */
* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type:  none;
}

a {
	text-decoration: none;
	color: black;
	display:  block;
}
/* nav */
header {
	width: 100%;
}
header .wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: hsl(0,81%,75%);
}
header i {
	padding: 5px;
	font-size: 20px;
	color: white;
}
#toplogo h2 {
	margin: 0;
	font-size: 1.5rem;
	color: white;
}
#topnav {
	position: fixed;
	left:  0;
	z-index: 1;

	width: 250px;
	height: 100%;
	box-shadow: 0 0 50px rgba(40,40,40,0.4);

	background: white;
}
#topnav a {
	margin: 15px 35px;
	padding: 10px 0;
	width: 60px;
	height: 40px;
}
#topnav .btn {
	width: 100%;
	text-align: right;
	padding:  20px;
}
#topnav .btn i {
	color: hsl(0,81%,75%) ;
}
.sticky {
	position: fixed;
}
.show {
	width: 150px;
}
.slideIn {
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0.5, 0.7, 0.1, 0.5);
	overflow: hidden;
}
.wrapper {
	padding: 15px;
}
#topnav a:hover {
	border-bottom:  3px solid hsl(0,81%,75%);
	text-decoration: none;
	color: black;
}

.active {
	border-bottom:  3px solid hsl(0,81%,75%);
}
/* *******styling main***** */
main {
	height: 1000px;
}