header .logo {
	flex: 1;
}
aside.right {
	display: block;
}
body .flex>main.main {
	flex: 3 0 0;
}

body .flex>aside.right {
	flex: 1 0 0;
}

body .flex>aside.left {
	display: block;
	flex: 1;
}
header .topnav {
	align-self: center;
	order: 2;
}
header .logo {
	order: 1;
	text-align: left;
	padding-left: 100px;
}
header .search {
	flex:  0 0 60px;
	order:  3;

}

header .ul-container {
	display: none;
}
.lg-flex {
	display: flex;
}
.lg-flex > * {
	padding: 0 15px;
}
.lg-flex * {
	color: var(--);
}

.topnav a {
	color: var(--dark);
}
.topnav a:hover {
	color: var(--deep);
}

/***** slider top nav *****/

.topnav ul {
	position: static;
	width: ;
	overflow: visible;
	transition: none;
	padding: 0;
}

.topnav ul a{
	font-size: 16px;
	color: white;
	font-weight: bold;
}
.topnav .lg-ul	{
	display: flex;
}
header [type="checkbox"] {
	display: none;
}
header .toggler {
	display: none;
}

.main article .bg-image img {
	/* width: 150%;
	transform: translateX(-17.5%); */
	width: 100%;
	transform: translateX(0%);
}
/* ************* */
@media screen and (min-width: 1200px) {

	body main.main {
		flex: 3 0px;
	}
	body .flex>aside.left {
		flex:  1 0 0;
		order: 1;
	}
	main.main {
		order: 2;
	}
	aside.right {
		order: 3;}
	.related {order:4;
	}
	.footer {
		order: 5;
	}
	.main article .bg-image img {
		/* width: 200%; */
		/* transform: translateX(-25%); */
		width: 100%;
		transform: translateX(0%);
	}

}