
/* ***********ASSETS*********** */
:root {
	--primary: hsl(0,80%,88%);
	--light:  hsl(0,85%,98%);
	--dark:  hsl(0,85%,60%);
	--deep: hsl(0,85%,30%);
	--shadow: rgba(0,0,0,0.6);
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}
.primary {
	color: var(--dark);
}

main.light {
	color: var(--dark);
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.flex > * {
	flex: 100%;
	text-align: center;
}
.container {
	padding: 15px;
}

.border {
	border: 2px solid white;
}

h1 {
	font-size: 2rem;
}
.white {
	background-color: white
}

/* *********BASIC SETTINGS FOR LAYOUTS******** */



/* HEADER */
header .logo h1,header .logo p {
	margin: 0;
}
.logo {
	flex: 3 0 0;
}
.topnav {
	text-align: left ;
	flex: 1 0 0;
}
.search{
	text-align: right ;
	flex: 1 0 0;
}
header i.fas.fa-search {

}
/* MAIN CONTENT SETTINGS */
main {
}
/* aside.left {
	display: none;
} */

article {
	text-align: left;
	color: black;
}
article .header {

} 
article .header * {
	/* margin: 0; */
}


article p {
	font-size: 1.3rem;
}

article .bg-image {
	position: relative;
	padding: 15px;
}
.main article .bg-image img {
	width: 100%;
	max-height: 458px;
	transform: translateX(0);
}
/* RELATED ARTICLE SETTINGS */
.related article {
	color: black;
	text-align: left;
}
.related .bg-image {
	position: relative;
	width: 100%;
	height: auto;
	margin: 15px 0 ;

}

.related .bg-image img {
	box-shadow: 0 0 15px var(--shadow);
}

article .bg-image img {
	position: relative;
	width: 100%;
	max-height: 458px;
}

.related article .bg-image:hover {
	transform: scale(0.96);
	transition: transform 1s ease-out;
}
.img-container {
	position: relative;

}
.img-container .after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--shadow);
	opacity: 0;
	transition:  opacity 1s;
}
.related article .bg-image:hover .after{
	opacity: 1;
	
}
.related .bg-image {
	height: 185px;
	overflow: hidden;
}

.after {
	background: black;
	width: 100%;
	height: 100%;
}
.after {
	color: white;
}
/* FOOTER */
footer .flex > ul {
	text-align: left;
	padding-bottom: 15px;
	
	flex: 0 0 170px;
}
footer .flex > ul li {
	padding: 0 20px;
}

footer .ul {
	justify-content:  space-between;
}

footer .ul > ul {
	padding-left: 15px;
	border-left: 1px solid var(--deep);
}
footer .copyright {
	margin-top: 10px;
}

footer div.ul.flex {
	flex: 1;
	margin: auto;
	max-width: 600px;
}




/* ********RESPOSIVE SETUPS******** */

.dark{background: var(--dark);}
.light{background: var(--light);}
.primary{background: var(--primary);}


/* slider for top navigation */

.toggler,  [type="checkbox"] {
	position: absolute;
	z-index: 1;
}

[type="checkbox"] {
	z-index: 2;
	width: 20px;
	height: 20px;
	opacity: 0;
}
.toggler {
	width: 24px;
	height: 4px;
	background: #fff;
	border-radius: 3px;
}
.toggler::after, .toggler::before {
	position: absolute;
	content: "";
	top: 8px;
	left: 0;
	background: #fff;
	width: 24px;
	height: 4px;
	border-radius: 3px;
}
.toggler::before {
	top: 16px;
}
.topnav {
	position: relative;
}
.topnav .lg-ul {
	display: none;
}
.topnav .ul-container {
	position: absolute;
	overflow: hidden;
	left: -300px;
	z-index: 10;
	width: 300px;
	height: 100vh;
	transition: transform 0.3s;
	overflow-y: scroll;

}
.topnav .ul-container h2 {
	margin: 0;
}
.topnav .ul-container ul * {
	color: var(--deep);
}
.topnav .ul-container ul li {
	padding: 15px;
	border-bottom: 1px solid var(--dark);
}
.topnav input:checked ~ ul {
	width: 200px;
}

main.main {
	position: relative;
	transition: transform 0.3s;
	z-index: 10;
}


/****** JAVASCRIPT ASSETS ******/

.offset {
	transform: translateX(300px);
}
.default {
	left: 0;
}
.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;

	width: 100vw;
	height: 100vh;
	color: black;
}
.modal-wrapper::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	width: 100vw;
	height: 100vh;
	content: "";
	background: black;
	opacity: 0.7;

}
.modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
	min-width: 20%;
	min-height: 20%;
	background: var(--light);
	opacity: 1;
}
.modal-header {
	position: relative;
	width: 100%;
	height: 20px;
	background: var(--dark);

}
.modal-button-container {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	background: white;
	padding: 10px 0;
	overflow: hidden;
}
.modal-exit-button {
	width: 200%;
	height: 5px;
	background: var(--dark);
	transform: translate(-25%,-50%) rotate(-45deg);

}
.modal-exit-button::after {
	position: absolute;
	top: 10px;
	left: 0;
	content: "";
	width: 200%;
	height: 5px;
	background: var(--dark);
	transform: translate(-25%,-50%) rotate(90deg);
}
body.scroll-disabled {
	overflow: hidden;
	margin-right: 17px;
}