
/* ASSETS */
* {box-sizing: border-box;}
body {margin: 0;}
header h1,
header h2,
header h3,
header p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}
img {
	width: 100%;
	height: auto;
	display: block;
}

/* ASSETS - COLORS */
:root {
	--primary: hsl(0,80%,75%);
	--dark: hsl(0,80%,60%);
	--deep: hsl(0,80%,20%);
	--light: hsl(0,80%,90%);
	--shadow: rgba(0,0,0,0.6);
	--imgShadow: rgba(0,0,0,0.15);
	--border:  rgba(0,0,0,0.4);
}
.primary {background-color: var(--primary);}
.dark {background-color: var(--dark);}
.light {background-color: var(--light);}
.opacity {background-color: var(--shadow);}
.white {color: white;}

/* ASSETS - LAYOUT */

.container {padding: 15px;}
.wrapper {padding: 0 15px;}
.flex {display:flex;}
.wrap {flex-wrap:wrap;}
.flex > * {flex:100%;}
.auto {margin: auto;}
.sm-flex {display: flex;}
.sm-flex > * {flex: 1 0 0;}

/* ***********END ASSETS************ */
/* LAYOUT SETTINGS */

aside.left,aside.right {
	display: none;
}
header {
	text-align: center;
	margin-bottom: 45px;
}

body {
}
/*********CUSTOMIZED********/

.bg-image {
	width: 100%;
	max-height: 400px;
	overflow: hidden;

}

.bg-image .img-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	box-shadow: 0 0 15px var(--imgShadow)
}

.bg-image .img-container img {
	
}
.related-article .bg-image {
	padding: 15px;
}

.related-article-header {
	float: left;
	width: auto;
}

.related-article::after {
	display: table;
	clear: both;
	content: "";
}
.related .flex {
	flex-direction: column;
}

footer .copyright {
	text-align: center;
}

/* ******MAIN ARTICLE SETTINGS****** */
main h1 {
	margin: 0;
	padding: 15px 0;
	font-size: 2rem;
}
main h3 {
	margin: 5px 0;
	font-size: 1.2rem;
	font-weight: 400;
}

main .main-content p {
	font-size: 1.3rem;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
    line-height: 2rem;
}

article h1, article h2 {
	font-family: sans-serif;
}
.logo {
	font-family: sans-serif;
}
 /* *******RELATED ARTICLE SETTINGS****** */

.related {
	font-family: "Helvetica";
	padding-bottom: 45px;
}
.related article h2 {
 	font-size: 1.3rem;
 }

.related article h3 {
 	margin: 5px 0;
 	font-weight: 400;
 	font-size: 1rem;
 	font-style: italic;
 }
.related-heading {
	margin: 15px 0;
	padding: 5px 0;
 	border-bottom: 1px solid var(--border);
 	color: var(--border);
 	font-size: 1.3rem;
 }
 /* *******FOOTER SETTINGS******** */
 footer.container {
 	padding-top: 45px;
 	border-top: 1px solid var(--border);
 }
 footer ul h3 {
 	margin: 0;
 }
 footer > .wrapper {
 	width: auto;
 }
 footer > .wrapper .btmnav {
	width: min-content;
	padding-bottom: 15px;
 }
 footer .wrapper .btmnav ul {
 	width: auto;
 }
 footer .wrapper .btmnav ul > * {
	flex: none;
	padding: 0 15px;

 }

 footer ul i {
 	font-size: 2rem;
 	color: var(--dark);
 }

 footer ul i:hover {
 	color: hsl(120,80%,70%);
 }