main.main {
	max-width: 715px;
}
aside.right {
	max-width: 300px;
}

.related .flex {
	flex-direction: row;
}

.sm-flex {
	display: block;
}
section.related .bg-image {
	max-height: 222px;
}
footer .wrapper {
	max-width: 996px;
}