



/* ***** ASSETS ****** */
main {
	margin: auto;
}
.md-flex {
	display: flex;

}
.md-flex > * {
	flex: 1;
}

main aside.aside2 {
	flex: 1;
	order: 1;
}
main aside.aside1 {
	flex: 1;
	order: 3;
}
main section.main-content {
	margin-right: 15px;
	flex: 4;
	max-width: 996px;
	order: 2;
}

main section.related-article {
	flex: 100%;

}

.gap {
	margin-right: 15px;
}